// Font family Roboto
$Roboto:"Roboto", sans-serif;
$Playfairdisplay:'Playfair Display', serif;
// Font weigth
$regular:400;
$light: 300;
$black: 900;
$regular: 400;
// Font Size
$xx-large: 30px;
$large:18px;
$setenta: 70px;
$dieciseis: 16px;
$doce: 12px;
$cuarenta: 40px;

