$white:#fff;
$platinuim:#E6e7e7;
$lightgrey:#D1D1D1;
$fuzziwuzzi:#E53356;
$rudypink:#D76C69;
$spanishpink:#ECBCBA;
$erielnlack:#121619;
$rasiniblack:#222323;
$nickel:#6c6e70;
$trespx: 3px;
$treintaycinco:35px;
$cincuentapx: 50px;
$cuarentapx: 40px;
$sesentapx: 60px;
$noventapx: 90px;
$cientocuarentapx: 140px;
$cienpx: 100px;
$cienporcientovh: 100vh;
$cinco_nuevevw: 5.9vw;
$cincuentaporciento:50%;
$cienpx: 100px;
$ochentaporciento: 80%;
$cuarentaporciento: 40%;
$cincoem: 5em;
$ocho_porciento:8%;



